@use "../abstracts" as *;

.button {
  --_btn-border: var(--btn-border, var(--button-border));
  --_btn-border-radius: var(--btn-border-radius, var(--button-border-radius));
  --_btn-font-size: var(--btn-font-size, var(--button-font-size));
  --_btn-font-weight: var(--btn-font-weight, var(--button-font-weight));
  --_btn-gap: var(--btn-gap, var(--button-gap));
  --_btn-hover-radius: 500px;
  --_btn-padding: var(--btn-padding, var(--button-padding));
  --_btn-padding-large: var(--btn-padding-large, var(--button-padding-large));
  --_clr-btn_bg: var(--clr-btn_bg, var(--clr-button-background));
  --_clr-btn-hover_bg: var(--clr-btn-hover_bg, var(--_clr-btn_bg));
  --_clr-btn-txt: var(--clr-btn-txt, var(--clr-button-text));
  --_clr: var(--clr, --_clr-btn-txt);
  --icon-size: var(--button-icon-size);

  align-items: center;
  background-color: var(--_clr-btn_bg);
  border: var(--_btn-border);
  border-radius: var(--_btn-border-radius);
  cursor: pointer;
  font-size: var(--_btn-font-size);
  font-weight: var(--_btn-font-weight);
  display: inline-flex;
  gap: var(--_btn-gap);
  justify-content: center;
  line-height: 1.5;
  padding: var(--_btn-padding);
  text-decoration: none;
  transition: all 275ms ease;
  overflow: clip;
  position: relative;
  max-width:  calc(var(--_btn-hover-radius)/2);

  &__text, svg {
    z-index: z(base) + 1;
  }

  &__text {
    position: relative;
    z-index: z(base) + 1;
  }

  &:before {
    background-color: var(--_clr-btn-hover_bg);
    border-radius: 50%;
    content: '';
    left: 0;
    height: 0;
    position: absolute;
    top: 0;
    transition: all .4s ease-in;
    transform: translate(-50%, -50%);
    width: 0;
  }

  &:hover, &:focus-visible {
    --clr-btn-hover_bg: var(--clr-button-background-hover);
    --clr-link: var(--clr-button-text-hover);

    &:before {
      width: var(--_btn-hover-radius);
      height: var(--_btn-hover-radius);
    }
  }

  &:active {
    --clr-btn_bg: var(--clr-button-background-active);
    --clr-link: var(--clr-button-text-active);
  }

  &[data-type="primary"] {
    --clr-btn_bg: var(--clr-button-primary);
    --clr: var(--clr-button-primary-text);
    --clr-btn-hover_bg: var(--clr-button-primary-hover);

    &:hover, &:focus-visible {
      --clr-link: var(--clr-button-primary-text-hover);
      --btn-border: 1px solid var(--clr-button-primary-border-hover);
    }

    &:active {
      --clr-btn_bg: var(--clr-button-primary-active);
      --clr-link: var(--clr-button-primary-text-active);
      --btn-border: 1px solid var(--clr-button-primary-border-active);
    }
  }

  &[data-type="secondary"] {
    --clr-btn_bg: var(--clr-button-secondary);
    --clr: var(--clr-button-secondary-text);
    --btn-border: 1px solid var(--clr-button-secondary-border);
    --clr-btn-hover_bg: var(--clr-button-secondary-hover);

    &:hover, &:focus-visible {
      --btn-border: 1px solid var(--clr-button-secondary-border);
    }

    &:active {
      --clr-btn_bg: var(--clr-button-secondary-active);
    }
  }

  &[data-type="tertiary"] {
    --clr: var(--clr-button-tertiary-text);
  }

  &[data-size="large"] {
    --btn-padding: var(--button-padding-large);
    --btn-font-size: var(--button-font-size-large);
  }
}