.highlight-heading {
  --_clr-highlight: var(--clr-highlight, var(--clr-highlight-primary));

  span {
    color: var(--_clr-highlight);
  }

  &[data-theme="primary"] {
    --clr-highlight: var(--clr-highlight-primary);
  }

  &[data-theme="secondary"] {
    --clr-highlight: var(--clr-highlight-secondary);
  }

  &[data-theme="tertiary"] {
    --clr-highlight: var(--clr-highlight-tertiary);
  }

  &[data-theme="quaternary"] {
    --clr-highlight: var(--clr-highlight-quaternary);
  }
}