---
import Icon from './Icon.astro';

interface AnchorItem {
    href: string;
    text: string;
    icon?: string | null;
    target?: "_blank" | "_self";
}

interface Props {
  items: AnchorItem[];
}

const { items } = Astro.props;

---

<ul>
  {items.map((item) => {
    const isExternal = item.href.startsWith('http') || item.href.startsWith('//');
    const iconToUse = item.icon || (isExternal ? 'arrow-upper-right' : null);
    return (
      <li>
        <a 
          href={item.href} 
          class="lnk-effect lnk-effect--slide-right"
          target={isExternal ? '_blank' : item.target}
          rel={isExternal ? 'noopener noreferrer' : undefined}>
          {item.text} {iconToUse && <Icon icon={iconToUse as any} />}</a>
      </li>
    );
  })}
</ul>

<style lang="scss">
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>