---
import Icon from "./Icon.astro";

// No props or imports needed for this component
---

<button class="theme-toggle" aria-label="Toggle theme">
  <span class="icon sun"><Icon icon="sun" display="inline-block"/></span>
  <span class="icon moon"><Icon icon="moon-star" display="inline-block"/></span>
</button>

<style lang="scss">
  @use "../../styles/abstracts/" as *;
  .theme-toggle {
    --_background: var(--clr-background-theme-toggle, #{$color-background-theme-toggle});
    --icon-size: 20px;
    background: var(--_background);
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 12px;
    width: 44px;
  }
  .sun { 
    color: clr(neutral, black);
    display: block;
  }
  .moon { 
    display: none;
   }
  
  :global(.theme-dark) .sun { display: none; }
  :global(.theme-dark) .moon { 
    display: block;
    color: clr(neutral, white);
  }
</style>

<script>
import { initTheme, toggleTheme } from "../../utils/theme";


  // Run initTheme on page load
  initTheme();

  // Set up theme toggle
  document.addEventListener('astro:page-load', () => {
    const themeToggles = document.querySelectorAll('.theme-toggle');
    themeToggles.forEach(toggle => {
      toggle.addEventListener('click', toggleTheme);
    });
  });
</script>
