@use "../abstracts" as *;

[data-animation-block-slide] {
  --clr-reveal-block: var(--clr-highlight-primary, clr(primary, dark));
  --_clr-reveal-block: var(--clr-reveal-block);
  --_animation-delay: var(--animation-delay, 0.3s);
  --_animation-play-state: var(--animation-play-state, paused);

  position: relative;

  &::after {
    content: "";
    background-color: var(--_clr-reveal-block, grey);
    display: block;
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: z(modal);
    width: 100%;
  }

  [data-theme="primary"] & {
    --clr-reveal-block: var(--clr-highlight-primary);
  }

  [data-theme="secondary"] & {
    --clr-reveal-block: var(--clr-highlight-secondary);
  }

  [data-theme="tertiary"] & {
    --clr-reveal-block: var(--clr-highlight-tertiary);
  }

  [data-theme="quaternary"] & {
    --clr-reveal-block: var(--clr-highlight-quaternary);
  }

}

[data-animation-block-slide="slide-out-right"] {
  &::after {
    animation: 0.9s $easeInOutQuart var(--_animation-delay) both var(--_animation-play-state, paused) slide-out-right;
  }
}

.is-intersecting {
  [data-animation-block-slide] {
    --animation-play-state: running;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translate(0, -20%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}