$size-1: 0.25rem; // 4px
$size-2: 0.5rem; // 8px
$size-3: 0.75rem; // 12px
$size-4: 1rem; // 16px
$size-5: 1.25rem; // 20px
$size-6: 1.5rem; // 24px
$size-7: 1.75rem; // 28px
$size-8: 2rem; // 32px
$size-9: 2.5rem; // 40px
$size-10: 3rem; // 48px
$size-11: 4rem; // 64px
$size-12: 5rem; // 80px
$size-13: 6rem; // 96px
$size-14: 8rem; // 128px
$size-15: 10rem; // 160px

// for creating utility classes
$sizes: (
  1: $size-1,
  2: $size-2,
  3: $size-3,
  4: $size-4,
  5: $size-5,
  6: $size-6,
  7: $size-7,
  8: $size-8,
  9: $size-9,
  10: $size-10,
  11: $size-11,
  12: $size-12,
  13: $size-13,
  14: $size-14,
  15: $size-15,
);