[data-animation-fade-in="from-bottom"] {
  opacity: 0; 
  transform: translateY(5%);
  transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

[data-animation-fade-in="from-bottom"].is-intersecting {
  opacity: 1;
  transform: translateY(0); 
}