---

---
<div class="banner">
  <div class="content">
    <h1 class="display1">Fullbloom</h1>
    <p class="eyebrow">Ink Effect</p>
  </div>
</div>

<style>
  body :global(.banner) {
    background-color: black;
    color: white;
    margin: 0;
  }
</style>