---
import MainHead from "../components/global/MainHead.astro";
import InkEffect from "../components/playground/InkEffect.astro";
import CanRotationEffect from "../components/playground/CanRotationEffect.astro";
const { title = 'Playground', description = "Wei-Hsin Chen, A Design Engineer Portfolio" } = Astro.props;
export const prerender = false;
---
<!DOCTYPE html>

<html lang="en">
<MainHead title={title} description={description} />
<body style="--clr-background: black;">
  <main>
    <InkEffect />
    <!--<CanRotationEffect />-->
  </main>
</body>
</html>