---
import Cta from "./composable/Cta.astro";
interface Props {
  class?: string;
}
const { class: className }: Props = Astro.props;
---
<section class:list={[className]}>
  <div id="contact" class="contact">
    <h2 class="h1 contact__headline">Thanks for the visit. Reach out and let's chat.</h2>
    <div class="contact__buttons">
      <Cta href="mailto:wei.design.engineer@gmail.com" type="primary" icon="envelope" target="_blank">Email Me</Cta>
      <Cta href="https://calendar.app.google/dUoxuZs3eMKXjrVS8" type="secondary" icon="video-camera" target="_blank">Schedule a Meeting</Cta>
      <Cta href="/assets/Resume_Wei_Hsin_Chen.pdf" type="tertiary" icon="download">Download Resume</Cta>
    </div>
  </div> 
</section>

<style lang="scss">
  @use '../styles/abstracts/' as *;
  
  section {
    background-color: var(--clr-callout-background, $color-callout-background);
    border-radius: var(--border-radius-2, $border-radius-2);
    padding-block: clamp($size-6, 7.5vw - $size-4, $size-12);
    padding-inline: clamp($size-6, 12.5vw - $size-4, $size-14);
  }

  .contact {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

    &__headline {
      --clr-ff-headline: #{clr(primary, base)};
      margin-block-end: $size-8;
    }

    &__buttons {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: $size-4
    }
  }

</style>