---
import Cta from './composable/Cta.astro';

interface Props {
  class?: string;
}


const { class: className }: Props = Astro.props;
const tags = [ "Web", "Tooling", "2X Velocity", "3X Productivity" ];
---
<div class:list={[className, "featured-work-container"]}>
  <div class="featured-work">
    <div class="featured-work__image">
      <img src="https://placehold.co/1280x560" alt="Featured Work" />
    </div>
    <div class="featured-work__content">
      <h4 class="eyebrow">Transforming Chrome Enterprise</h4>
      <h3 class="h3">A Design-to-Development Revolution for Millions of Users</h3>
      <ul class="featured-work__tags">
        {tags.map(tag => (
          <li>{tag}</li>
        ))}
      </ul>
    </div>
    <div class:list={[className, "featured-work__ctas"]}>
      <Cta href="#" type="primary">View Case Study</Cta>
      <Cta href="#" type="secondary">See Live</Cta>
    </div>
  </div>
</div>
<style lang="scss">
  @use "../styles/abstracts/" as *;
  
  .featured-work-container {
    container-type: inline-size;
  }

  .featured-work {
    display: grid;
    gap: $size-8;


    &__tags {
      display: flex;
      flex-wrap: wrap;
      gap: $size-3;
      list-style: none;
      margin: 0;
      margin-block-start: $size-4;
      padding: 0;

      > li {
        position: relative;
        padding-inline-start: $size-2;

        &::before {
          color: currentColor;
          content: "•";
          left: 0;
          position: absolute;
        }
      }
    }

    &__ctas {
      display: flex;
      flex-direction: column;
      gap: $size-4;
    }

    @include mq(m) {
      &__ctas {
        align-items: end;
        display: flex;
        flex-direction: row;
        gap: $size-4; 
      } 
    }

    @container (width > 940px) {
      grid-template-columns: 2fr 1fr;

      &__image {
        grid-column: span 2;
      }

      &__ctas {
        justify-content: flex-end;
      }
    }
  }
</style>