---
import { readFileSync } from 'fs';
import { resolve } from 'path';
import ThemeToggle from './ThemeToggle.astro';
import Cta from './composable/Cta.astro';

interface NavItem {
    href: string;
    text: string;
}


const logoPath = resolve('./src/assets/name-logo.svg');
const logoSvg = readFileSync(logoPath, 'utf8');

/** Main menu items */
const navItems: NavItem[] = [
  { text: 'Home', href: '/' },
	{ text: 'Featured Works', href: '#featured-works-content' },
	{ text: 'About', href: '#about-content' },
];

---

<header>
  <a href="#main-content" class="skip-to-main">Skip to main content</a>
  <a href="/" class="logo" set:html={logoSvg} />
  <button class="menu-toggle" aria-controls="primary-nav" aria-expanded="false">
    <span>Menu</span>
  </button>
  <div class="nav-overlay" id="primary-nav">
    <nav class="nav">
      <ul>
        {navItems.map((item, index) => (
          <li>
            <a href={item.href} class="lnk-effect lnk-effect--expand" style={`transition-delay:` + (index*0.1 + 0.2) + 's'}>{item.text}</a>
          </li>
        ))}
      </ul>
    </nav>
    <div class="footer-overlay">
      <Cta href="#contact" type="primary">Get in touch</Cta>
      <ThemeToggle />
    </div>
  </div>
</header>


<script>
  const navToggle = document.querySelector('[aria-controls="primary-nav"]');
  const navOverlay = document.querySelector('.nav-overlay');

  navToggle?.addEventListener('click', () => {
    const currentState = navToggle.getAttribute('aria-expanded');
    navToggle.setAttribute('aria-expanded', currentState === 'false' ? 'true' : 'false');
    navOverlay?.classList.toggle('show');
    document.body.classList.toggle('menu-open');
  });

   // Close menu when clicking on a link
   const navLinks = document.querySelectorAll('.nav-overlay a');
    navLinks.forEach(link => {
      link.addEventListener('click', () => {
        navToggle?.setAttribute('aria-expanded', 'false');
        navOverlay?.classList.remove('show');
        document.body.classList.remove('menu-open');
      });
  });
</script>
<style lang="scss">
  @use '../styles/abstracts/' as *;

  header {
    align-items: center;
    border-bottom: var(--border-default);
    display: flex;
    justify-content: space-between;
    padding-block: $size-4;
    padding-inline: 0;
    margin-inline: var(--_section-padding);
    position: relative;
    z-index: 100;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }


  .logo {
    display: flex;
    width: 240px;
    z-index: z(modal) + 1;
    
    @include mq(m) {
      width: 210px;
    }

    @include mq(l) {
      width: 280px;
    }
  }

  .logo svg {
    width: 100%;
    height: 100%;
  }

  .skip-to-main {
    position: absolute;
    translate: -1000px;
    background-color: var(--clr-button-primary);
    color: var(--clr-button-primary-text);
    padding: 0.5rem 1rem;

    &:hover,
    &:focus-visible {
      color: var(--clr-button-primary-text-hover);
      background-color: var(--clr-button-primary-hover);
      translate: 0;
    }
  }

  .menu-toggle {
    --_clr-menu-toggle: var(--clr-menu-toggle, #{$color-menu-toggle});
    cursor: pointer;
    background: none;
    border: none;
    display: block;
    font-size: 0;
    padding: 0;
    position:relative;
    width: 32px;
    z-index: z(modal) + 1;

    @include mq(m) {
      display: none;
    }

    span, span:before, span:after {
      background: var(--_clr-menu-toggle);
      border-radius: 2px;
      content: '';
      cursor: pointer;
      display: block;
      height: 3px;
      position: absolute;
      transition: all 300ms ease-out;
      width: 32px;
    }
    span:before {
      top: -11px; 
    }
    span:after {
      bottom: -11px;
    }
   
    &[aria-expanded="true"] {
      span {
        background-color: transparent;
        transform: rotateZ(180deg);
      }
      span:before, span:after {
        top: 0;
      }
      span:before {
        transform: rotate(45deg);
      }
      span:after {
        transform: rotate(-45deg);
      }
    }
  }

  .nav-overlay {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 65%;

    @include mq(l) {
      width: 55%;
    }

    @include mq-max(m) {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      z-index: z(modal);
      background-color: var(--clr-background);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      &.show {
        opacity: 1;
        visibility: visible;

        a {
          opacity: 1;
          transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
          transform: translateY(0);
        }

        .footer-overlay {
          opacity: 1;
          transition: opacity 0.5s ease-in-out 1s;
        }
      }
    }
  }


  .footer-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include mq-max(m) {
      align-items: center;
      bottom: $size-10;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      opacity: 0;
      position: absolute;
    }
  }

  @include mq-max(m) {
    .nav {
      margin-bottom: 2rem;
    }

    ul {
      flex-direction: column;
      align-items: center;
      gap: $size-1;
      font-size: 3rem;
    }

    li {
      overflow: hidden;
    }

    a:not(.logo) {
      display: inline-block;
      opacity: 0;
      transform: translateY(100%);
    }
  }

  :global(body.menu-open) {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
  }
</style>
