---
import { CASE_STUDY_SPEC } from '../utils/constants';

export type InfoTextColumnType = 'ROLE' | 'COMPANY' | 'TOOL' | 'YEAR';

interface Props {
  type: InfoTextColumnType;
  content: string;
}

const { type, content } = Astro.props;
---

<div class="info-text-column">
  <h2 class="h6">{CASE_STUDY_SPEC[type]}</h2>
  <p>{content}</p>
</div>