---
interface Props {
  class?: string;
  src: string;
  alt?: string;
  lazy?: boolean;
  assetFolder: string;
  transitionName?: string;
}
const { class: className, src, alt, lazy = true, assetFolder, transitionName } = Astro.props;
---

<section class:list={[className, "full-size-feature-image"]}>
  <img src={assetFolder + src} alt={alt}  loading={lazy ? "lazy" : "eager"} decoding="async" {...transitionName ? { 'transition:name': transitionName } : {}} />
</section>

<style lang="scss">
  @use "../../styles/abstracts/" as *;

  .full-size-feature-image {
    border-radius: var(--border-radius-2, $border-radius-2);
    overflow: clip;

    @include mq(m) {
      aspect-ratio: 16 / 7;
    }
  }
</style>