---
import MainHead from '../components/MainHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.scss';

interface Props {
    title?: string | undefined;
    description?: string | undefined;
}

const { title, description = "Wei-Hsin Chen, A Design Engineer Portfolio" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <MainHead title={title} description={description} />
    </head>
    <body class="base-layout">
        <Header />
        <main id="main-content">
            <slot />
        </main>

        <Footer />
        <script>
            window.addEventListener('load', () => {
                document.body.classList.add('loaded');
            });
        </script>
    </body>
</html>
